<div class="container-fluid ">
    <div class="row  d-flex flex-row justify-content-center  mt-5 p-2">
        <div class="col-sm-3  p-5 text-right">
            <a href="../../assets/files/CV_Olga_Holm_2019_webdeveloper.pdf" title="Download CV" target="new">
                <button type="button" class="btn btn-light">Download my CV in PDF</button>
            </a>
        </div>
        <div class="col-sm-5 p-5 text-left">Eager and able to learn technologies fast, <br> I have many other qualities for work in IT:
            <ul>
                <li>- sharp intellect </li>
                <li>- strong strong analytical skills</li>
                <li>- very good team-player</li>
                <li>- and I am fluent in English, Danish and Russian.</li>
            </ul>
            <p>Interested in working with me?&nbsp; <a class="alert-link" href="mailto:okomaro@gmail.com"> Contact me!</a> </p>
        </div>
        <div class="col-sm-4 LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="olga-komarova-6840784a"><a class="LI-simple-link" href="https://dk.linkedin.com/in/olga-komarova-6840784a?trk=profile-badge">Olga Komarova</a></div>
    </div>
</div>