
  <div class="container-fluid ">

  <div class="row text-center d-flex justify-content-center mt-5">
    <a href="../../assets/files/CV_Olga_Komarova_2018.pdf" title="Download CV" target="new"><button type="button" class="btn btn-light">Download my CV in PDF</button></a>
	        
	            <div class="p-5 text-center">I am truly a good catch. <br>Eager and able to learn technologies fast, <br>I have many other qualities for work in IT:
	            <ul><li>- sharp intellect </li>
	              <li>- strong strong analytical skills</li> 
	              <li>- very good team-player</li>
	              <li>- and I am fluent in English, Danish and Russian.</li></ul>
	            </div>
      

	    <p>Interested in working with me?&nbsp;             <a class="alert-link" href="mailto:okomaro@gmail.com"> Contact me!</a> </p>
  </div>
	  </div>

