<div class="container-fluid">
  <nav class="navbar navbar-light bg-light"> <a class="navbar-brand" href="#"> <img src="../assets/img/okomaro-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> okomaro:design </a>

	  
    <ul class="nav justify-content-right">
      <li class="nav-item"> <a routerLink="home" routerLinkActive="active" class="btn btn-light">About me</a> </li>
      <li class="nav-item"> <a routerLink="works" routerLinkActive="active" class="btn btn-light">My projects</a> </li>
      <li class="nav-item"> <a routerLink="cv" routerLinkActive="active" class="btn btn-light">CV</a> </li>
    </ul>
	  
  </nav>
</div>