<footer class="container-fluid text-center">
    <p class="copyright">&copy; 2018, Olga Komarova <br>
        last updated: November 2018</p>


    <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
        <div class="navbar-expand m-auto navbar-text">
            Made with <i class="fa fa-heart"></i> and <i class="fa fa-angular"></i> by <a href="https://github.com/okomaro">okomaro</a>
        </div>
        <div class="row text-center">

            <i class="fa-comments"></i>
            <p>Interested in working with me?</p>
            <a class="btn btn-sm btn-primary" id="myButton" href="mailto:okomaro@gmail.com">Email me</a>
        </div>
        <div class="row">
            <div class="col-12">
                <app-social></app-social>
            </div>

        </div>
    </nav>

    <div class="container">

        <div class="row text-center">

            <i class="fa-comments"></i>
            <p>Interested in working with me?</p>
            <a class="btn btn-sm btn-primary" id="myButton" href="mailto:okomaro@gmail.com">Let's chat</a>
        </div>
        <div class="row">
            <div class="col-12">
                <app-social></app-social>
            </div>

        </div>


    </div>

</footer>
