<footer class="container-fluid text-center">
    

    <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
        <div class="navbar-expand m-auto navbar-text">
            Made with <i class="fa fa-heart"></i> and <img src="../../assets/logos/logo-angular.svg" class="logo" alt="Angular"> by <a href="https://github.com/okomaro">okomaro</a>
				  <div class="row text-center">

            <p>Interested in working with me?&nbsp;</p>
	
            <a class="alert-link" href="mailto:okomaro@gmail.com"> contact me</a> 
        </div>
			<div class="row">
			<app-social></app-social></div>
			
	
        </div>
       
        
		
		
    </nav>



</footer>
