ul,
li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
margin: 2px;
}



/*
ul li {
    display: inline-block;
}
*/

ul li a {
    font-size: 2em;
    color: white;
    text-decoration: none;
    margin-left: 0.3em;
}

ul li a :hover {
    color: pink;
/*    opacity: 1;*/
}
