<ul class="social">
    <li>
        <a href="https://github.com/okomaro" target="_blank"> <i class="fa fa-github-square"></i> </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/olga-holm-6840784a/" target="_blank"> <i class="fa fa-linkedin-square"></i> </a>
    </li>
    <li> <a href="https://www.pinterest.dk/okomaro/" target="_blank"><i class="fa fa-pinterest-square"> </i> </a> </li>
    <li> <a href="https://vimeo.com/user77345020" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
</ul>