ul,
li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

ul {
    position: relative;
    bottom: 70px;
    margin-left: 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    font-size: 2em;
    color: white;
    text-decoration: none;
    margin-left: 0.3em;
}

a:hover {
    color: red;
    opacity: 1;
}
