<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">welcome to {{title}} !</h1>
    </div>

    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="btn btn-light">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="works" routerLinkActive="active" class="btn btn-light">works</a>
            </li>
            <li class="nav-item">
                <a routerLink="cv" routerLinkActive="active" class="btn btn-light">CV</a>
            </li>
        </ul>


    </div>

</div>

<router-outlet></router-outlet>

<!-- Routed components go here -->


<app-footer></app-footer>
