<div class="container-fluid">
    <div class="row d-flex flex-row justify-content-around  mt-5 p-2 ">
        <div class="col-sm-3 "><img src="../../assets/img/olga_holm_foto300x300.jpg" class="circle-foto img-fluid m-3" alt="Olga">
            <a href="../../assets/files/CV_Olga_Holm_2019_webdeveloper.pdf" title="Download CV" target="new">
                <button type="button" class="btn btn-light m-3">Download my CV in PDF</button>
            </a>
        </div>
        <div class="col-sm-6">
            <h3>Hi, I am Olga!</h3>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <p>I am web-designer and web-developer (frontend). Currently, I am looking for a full-time position in a company located in Copenhagen with a focus on web and mobile development and design.</p>
            <p>I have 2 year experience in using HTML, CSS, SASS pre-processor, Bootstrap library, JavaScript, XML, Angular framework, PHP and mySQL, Firebase, Wordpress CMS as well as git version control, terminal and command line, Netlify service and much
                more for online deployment of my projects for studies and clients. I am also very interested in UX/UI design.</p>
            <p>I am easer to learn and discover newest technologies, making life of web-developer easier. F.x. this portfolio-site is created in Angular CLI and is deployed and being updated via Netlify - continious deployment settings.</p>
            <p>Eager and able to learn technologies fast, I have many other qualities for work in IT:</p>
            <ul>
                <li> sharp intellect </li>
                <li> problem solving qualities</li>
                <li> strong analytical skills</li>
                <li> very good team-player</li>
                <li> and I am fluent in English, Danish and Russian.</li>
            </ul>

            <p>Interested in hiring me?&nbsp; <a class="alert-link" href="mailto:okomaro@gmail.com"> Contact me!</a> </p>

        </div>
        <div class="logos col-sm-3">
            <h4>My interests:</h4>
            <img src="../../assets/logos/logo-adobe.svg" alt="Adobe"> <img src="../../assets/logos/logo-ai.svg" alt="Illustrator"> <img src="../../assets/logos/logo-angular.svg" alt="Angular"> <img src="../../assets/logos/logo-html5.svg" alt="HTML5">            <img src="../../assets/logos/logo-jquery.svg" alt="JQuery"> <img src="../../assets/logos/logo-php.svg" alt="PHP"> <img src="../../assets/logos/logo-react.svg" alt="React"> <img src="../../assets/logos/logo-sass.svg" alt="Sass"> <img src="../../assets/logos/logo-bootstrap.svg"
                alt="Bootstrap"> <img src="../../assets/logos/logo-javascript.svg" alt="JavaScript"> <img src="../../assets/logos/logo-node.svg" alt="Node.js">
            <img src="../../assets/logos/logo-wordpress.svg" alt="Wordpress">
            <img src="../../assets/logos/logo-CSS3.svg" alt="CSS">
            <img src="../../assets/logos/logo-typescript.svg" alt="Typescript">


        </div>
    </div>
</div>