<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active nav-item"> <a routerLink="home" routerLinkActive="active" class="btn btn-light">Home</a></li>
                <li class="active nav-item"> <a routerLink="works" routerLinkActive="active" class="btn btn-light">My works</a></li>
                <li class="active nav-item"> <a routerLink="cv" routerLinkActive="active" class="btn btn-light">CV</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

	

<img src="../../assets/img/olga_komarova_foto300x300.jpg" class="rounded float-right w-25 h-25" alt="Olga">
	
	<div class="col-md-4 align-content-top p-5">
	<h3>Hi, I am Olga!</h3>
<p>I am a frontend development student at Copenhagen Business Academy</p>

<p>
Currently I am looking for an internship place in frontend development (JavaScript and its frameworks, PHP and MySQL, CSS styling, etc.). I have strong analytical abilities, fast in learning and am a good team-player.
</p>
	</div>
	


</div>


