<div class="container-fluid ">
  <div class="row  d-flex flex-row justify-content-around  mt-5 p-2 ">
    <div class="col-sm-3 "><img src="../../assets/img/olga_komarova_foto300x300.jpg" class="circle-foto img-fluid float-center " alt="Olga"></div>
    <div class="col-sm-5">
      <h3>Hi, I am Olga!</h3>
      <p>I am a beginner in frontend development. I am a student in  multimedia (frontend line) at CPH Business Academy.</p>
      <p> Currently, I am looking for an internship in a company located in Copenhagen with a focus on frontend development. JavaScript and its frameworks, Angular and React, PHP and MySQL, SASS, UI/UX technologies are my favorite. That is where I am going.</p>
      <p>I am looking for a place starting from January 2019 for minimum 3 months. And potentially longer.</p>
      <p>Interested in working with me?&nbsp; <a class="alert-link" href="mailto:okomaro@gmail.com"> Contact me!</a> </p>
    </div>
    <div class="logos col-sm-3">
      <h4>My interests:</h4>
      <img src="../../assets/logos/logo-adobe.svg" alt="Adobe"> <img src="../../assets/logos/logo-ai.svg" alt="Illustrator"> <img src="../../assets/logos/logo-angular.svg" alt="Angular"> <img src="../../assets/logos/logo-html5.svg" alt="HTML5"> <img src="../../assets/logos/logo-jquery.svg" alt="JQuery"> <img src="../../assets/logos/logo-php.svg" alt="PHP"> <img src="../../assets/logos/logo-react.svg" alt="React"> <img src="../../assets/logos/logo-sass.svg" alt="Sass"> <img src="../../assets/logos/logo-bootstrap.svg" alt="Bootstrap"> <img src="../../assets/logos/logo-javascript.svg" alt="JavaScript"> <img src="../../assets/logos/logo-node.svg" alt="Node.js"> 
		<img src="../../assets/logos/logo-wordpress.svg" alt="Wordpress"> 
		<img src="../../assets/logos/logo-CSS3.svg" alt="CSS"> 
		<img src="../../assets/logos/logo-typescript.svg" alt="Typescript"> 
	  
	  
	  </div>
  </div>
</div>
