<div class="container-fluid ">
    <div class="row  d-flex flex-row justify-content-around mt-5 p-2 ">
        <div class="col-sm-3">
            <h2>list of <br/>all my study<br/> projects<br/> in one place</h2>
        </div>
        <div class="col-sm-6">
            <h3>From the newest to oldest</h3>
            <div class="list-group">
                <a href="/assets/works/study_portfolio" class="list-group-item list-group-item-action" target="new">Study projects porfolio 2018-2019</a>

                <a href="http://www.komar.dk/dev-denhvidekjole/" class="list-group-item list-group-item-action" target="new">Webshop, Wordpress, Woocommerce, child theme, flow projekt, 3.sem, 2018</a>
                <a href="http://www.komar.dk/post-it-system/" class="list-group-item list-group-item-action" target="new">Post-it application, PHP, CSS, HTML studies, flow projekt, 3.sem, 2018</a>

                <a href="/assets/works/basic_calculator/" class="list-group-item list-group-item-action" target="new">Basic calculator, PHP studies, flow projekt, 3.sem, 2018</a>

                <a href="/assets/works/sweetbot/" class="list-group-item list-group-item-action" target="new">Sweetbot, HTML-studies, flow projekt</a>


            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>