<div class="container">
  <div class="row mt-3">
    <div class="col-4">
      <h2>list of <br/>all my study<br/> projects<br/> in one place</h2>
    </div>
		<div class="col-6">
		  	<div class="list-group">

			  <a href="http://okomaro.bplaced.net/portfolio_project_1semester/" class="list-group-item list-group-item-action" target="new">Porfolio 1.0</a>

			  <a href="http://okomaro.bplaced.net/Portfolio_2_1/" class="list-group-item list-group-item-action" target="new">Portfolio 2.1, eksamen projekt, 1.sem 2017</a>

			  <a href="http://okomaro.bplaced.net/sweetbot/" class="list-group-item list-group-item-action" target="new">Sweetbot, HTML-studies, flow projekt</a>

				
			<a href="http://okomaro.bplaced.net/calculator/" class="list-group-item list-group-item-action" target="new">Basic calculator, PHP studies, flow projekt, 3.sem, 2018</a>

	     <a href="http://www.komar.dk/post-it-system/" class="list-group-item list-group-item-action" target="new">Post-it application, PHP, CSS, HTML studies, flow projekt, 3.sem, 2018</a>
				
			     <a href="http://www.komar.dk/dev-denhvidekjole/" class="list-group-item list-group-item-action" target="new">Webshop, Wordpress, Woocommerce, child theme, flow projekt, 3.sem, 2018</a>




			</div>
		</div>
  </div>


</div>

